




.account-buten{
    border-radius: 10px;
}
#home-controler {
  /* background-color: darkgrey; */
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 15fr;
}

#posts-controler {
    grid-row: 2/3 ;
    grid-column:2/3 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
